{% extends 'coordinators/base.html' %}

{% block content %}

<div class="row flex-nowrap">
    <div class="col-2" style="margin: 0px; min-width: min-content;">
        <ul class="nav nav-pills  min-vh-100 flex-column bg-white" style="padding-top: 5px;">
            <li class="nav-item">
                <a class="nav-link disabled" style="font-weight: bold;">Your Events</a>
            </li>
            <li class="break">
              <hr>
            </li>
            {% for event in event_list %}
            <li class="nav-item">
                {% if currentEvent %}
                    {% if event.id == currentEvent.id %}
                        <a class="nav-link active" href="{% url 'coordinatorEvent' event.id %}"> {{ event }} </a>
                    {% else %}
                        <a class="nav-link" href="{% url 'coordinatorEvent' event.id %}"> {{ event }} </a>
                    {% endif %}
                {% else %}
                    <a class="nav-link" href="{% url 'coordinatorEvent' event.id %}"> {{ event }} </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col">
        <div style="padding-top:15px; padding-left:10px; padding-right:10px;">
        {% if currentEvent %}
            {% include 'coordinators/event.html'  %}
        {% else %}
                <h6>No event selected. Select an event from the events panel on the left.</h6>
        {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

