{% extends 'public/eventPage.html' %}

{% block form %}
    <div style="text-align:center;">
    <h5 style="color: green;">Your registration was successfull! </h5>
    <br>
    You are expected to pay 50₹ for the drops at the venue.
    <br>
    Following is your unique code for this registration:
        <div class="d-flex justify-content-center">
        <div class="card">
            <div class="card-body"  style="background-color: green; color: azure;">
                <h1 class="card-title justify-content-center"> {{ code }}</h1>
            </div>
        </div>
        </div>
 
    <br>
    Please show the above code to the event coordinator at the venue.
    </div>

    <hr>

    <div class="d-grid gap-2 d-md-flex justify-content-center" style="margin-top: 20px;">
        <a class="btn btn-primary" href="{% url 'publicEventPage' event.id %}" role="button">New Registration</a>
    </div>

{% endblock form %}