<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary" style="padding-top:60px;">
  <div class="container-fluid">
    <div class="col-2">
      <span class="navbar-text">
        Swarnamrutha Prasana
      </span>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'publicHome' %}">Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'coordinatorHome' %}">Coordinators Portal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'organizerEventsBase' %}">Organizers Portal</a>
        </li>
      </ul>      
      <ul class="navbar-nav"> 
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'organizerEventsBase' %}">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'organizerVenues' %}">Venues</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'organizerProfile' %}">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'Logout' %}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary" style="margin:0; padding-bottom: 0%;">
  <div class="d-flex justify-content-center" style="width: 100%; margin:0; padding-bottom: 0%;">
    <img src="/static/organizers/media/VTlogo.png" style="height:50px;">
    &emsp;
    <h1 style="color:white">    Jai Srimannarayana    </h1>
    &emsp;
    <img src="/static/organizers/media/swamiji.png" style="height:50px;">
  </div>
</nav>